<tr>
	<td><%= rent.id %> </td>
	<td><%= rent.client %></td>
	<td>Lps. <%= rent.total %> </td>
	<td><%= rent.days %></td>
	<td><%= format_date(rent.rent_start_at) %> </td>
	<td><%= format_date(rent.rent_end_at) %></td>
</tr>
